<h1 class="title">Bienvenu dans home</h1>
<header>
    <!--add image-->
    <%= link_to image_tag('0*HICLyAdNSIyT0ODU.jpg'),'#'%>
    <!--<img src="https://miro.medium.com/max/1980/0*HICLyAdNSIyT0ODU.jpg">-->
</header>
<div class="p">
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra augue.
    Phasellus efficitur nibh venenatis orci luctus, sit amet placerat urna tincidunt.
    Sed ac velit leo. Etiam aliquam accumsan neque sed feugiat. Sed fermentum velit sem, 
    id sollicitudin dolor pulvinar non. Duis pellentesque tortor nec eros malesuada, 
    ut imperdiet massa molestie. Vivamus volutpat, sapien eu venenatis commodo, est quam pretium augue, 
    blandit ultrices velit lectus ac quam. Sed nisl est, bibendum quis ante quis, laoreet mattis arcu. 
    Integer vel pharetra velit, in iaculis odio. Mauris bibendum augue urna, aliquet bibendum tellus ornare aliquet. Aenean commodo erat ut volutpat congue. Aenean vel aliquam massa, a commodo neque. Fusce sed tortor sit amet nibh efficitur iaculis. Fusce hendrerit purus ut enim interdum, id maximus felis suscipit. Cras dictum ipsum in augue elementum, sit amet aliquam nibh ullamcorper.
    </p>
    <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pharetra augue.
    Phasellus efficitur nibh venenatis orci luctus, sit amet placerat urna tincidunt.
    Sed ac velit leo. Etiam aliquam accumsan neque sed feugiat. Sed fermentum velit sem, 
    id sollicitudin dolor pulvinar non. Duis pellentesque tortor nec eros malesuada, 
    ut imperdiet massa molestie. Vivamus volutpat, sapien eu venenatis commodo, est quam pretium augue, 
    blandit ultrices velit lectus ac quam. Sed nisl est, bibendum quis ante quis, laoreet mattis arcu. 
    Integer vel pharetra velit, in iaculis odio. Mauris bibendum augue urna, aliquet bibendum tellus ornare aliquet. Aenean commodo erat ut volutpat congue. Aenean vel aliquam massa, a commodo neque. Fusce sed tortor sit amet nibh efficitur iaculis. Fusce hendrerit purus ut enim interdum, id maximus felis suscipit. Cras dictum ipsum in augue elementum, sit amet aliquam nibh ullamcorper.
    </p>
</div>
<%= link_to 'About', about_path  %> |
<%= link_to 'Le blog', articles_path  %>
