$theme-colors: (
  "light": #212F3D
);

#logo{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.center{
  text-align: center;
  color: white;
}

.jumbotron{
  background-image: asset-url('main.jpg'); //rajouter une image au jumbotron
  height: 580px ;
}

#title-navbar{
  color:  #abb2b9 ;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#title-navbar{
  color:  #abb2b9 ;
}

footer{
  margin-top: 100px;
  padding-top: 5px;
  border-top: 1px solid #333333 ;
  color: #888888;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}


footer ul li{
  float: left;
  margin-left: 15px;
}

ul li{
  list-style: none;
}
.article-actions{
  border-top: 1px solid #333333 ;
  margin-top: 15px;
  padding-top: 15px;
}

.display-description{
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}

.table thead tr th 
{
  border-top:none;
}