<div class="container">
  <footer>
    <small><%= link_to "Rails Heros Course", "#"  %> Copyright by Harry Jmg</small>
    <nav>
      <ul>
        <li><%= link_to "A Propos", about_path  %></li>
        <li><%= link_to "Articles", articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>

 
